<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <link rel="icon" th:href="@{/favicon.ico}">
    <title>bookstore</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link th:href="@{/css/chunk-013a758e.d4205f10.css}" rel="prefetch">
    <link th:href="@{/css/chunk-0d672780.fb5d485f.css}" rel="prefetch">
    <link th:href="@{/css/chunk-157eaf11.3c493ddb.css}" rel="prefetch">
    <link th:href="@{/css/chunk-21f5f387.b031a537.css}" rel="prefetch">
    <link th:href="@{/css/chunk-304eed2c.b031a537.css}" rel="prefetch">
    <link th:href="@{/css/chunk-40015270.01dd606f.css}" rel="prefetch">
    <link th:href="@{/css/chunk-4bc29694.b031a537.css}" rel="prefetch">
    <link th:href="@{/css/chunk-4c58d700.af2632c0.css}" rel="prefetch">
    <link th:href="@{/css/chunk-4df8d1ea.b031a537.css}" rel="prefetch">
    <link th:href="@{/css/chunk-53b23e40.b031a537.css}" rel="prefetch">
    <link th:href="@{/css/chunk-6552f4c2.b031a537.css}" rel="prefetch">
    <link th:href="@{/css/chunk-6c0f7a67.d4205f10.css}" rel="prefetch">
    <link th:href="@{/css/chunk-6d0b3532.01cf6fd8.css}" rel="prefetch">
    <link th:href="@{/css/chunk-709b0884.fb5d485f.css}" rel="prefetch">
    <link th:href="@{/css/chunk-75f64874.b031a537.css}" rel="prefetch">
    <link th:href="@{/css/chunk-78e5fac6.46ff296b.css}" rel="prefetch">
    <link th:href="@{/css/chunk-7eeb0c38.b031a537.css}" rel="prefetch">
    <link th:href="@{/css/chunk-85277d60.460ac60a.css}" rel="prefetch">
    <link th:href="@{/css/chunk-8b2ce1f0.9a0450ff.css}" rel="prefetch">
    <link th:href="@{/css/chunk-b5ee3092.b031a537.css}" rel="prefetch">
    <link th:href="@{/css/chunk-b788f09c.4a5b18b2.css}" rel="prefetch">
    <link th:href="@{/css/chunk-c0bb4f38.6598d719.css}" rel="prefetch">
    <link th:href="@{/js/chunk-013a758e.9ecefbc6.js}" rel="prefetch">
    <link th:href="@{/js/chunk-0d672780.5a7e6f63.js}" rel="prefetch">
    <link th:href="@{/js/chunk-157eaf11.045f32c8.js}" rel="prefetch">
    <link th:href="@{/js/chunk-21f5f387.b3b009a0.js}" rel="prefetch">
    <link th:href="@{/js/chunk-2a5fc1e4.c7fbeb86.js}" rel="prefetch">
    <link th:href="@{/js/chunk-2d0b6aba.23b360e2.js}" rel="prefetch">
    <link th:href="@{/js/chunk-2d0d6bb1.d2068b58.js}" rel="prefetch">
    <link th:href="@{/js/chunk-2d2106b5.51b82efb.js}" rel="prefetch">
    <link th:href="@{/js/chunk-2d21f46f.609cce06.js}" rel="prefetch">
    <link th:href="@{/js/chunk-2d222d2c.23ea1092.js}" rel="prefetch">
    <link th:href="@{/js/chunk-304eed2c.4f17dee0.js}" rel="prefetch">
    <link th:href="@{/js/chunk-40015270.2e756ec8.js}" rel="prefetch">
    <link th:href="@{/js/chunk-4ad7dcae.989febb6.js}" rel="prefetch">
    <link th:href="@{/js/chunk-4bc29694.8c4f6bda.js}" rel="prefetch">
    <link th:href="@{/js/chunk-4c58d700.d71ee155.js}" rel="prefetch">
    <link th:href="@{/js/chunk-4df8d1ea.6be877b2.js}" rel="prefetch">
    <link th:href="@{/js/chunk-53b23e40.7a71dd3d.js}" rel="prefetch">
    <link th:href="@{/js/chunk-6552f4c2.03c05141.js}" rel="prefetch">
    <link th:href="@{/js/chunk-6c0f7a67.01c3288c.js}" rel="prefetch">
    <link th:href="@{/js/chunk-6d0b3532.ccb003cc.js}" rel="prefetch">
    <link th:href="@{/js/chunk-709b0884.7c23ea5c.js}" rel="prefetch">
    <link th:href="@{/js/chunk-75f64874.185501ea.js}" rel="prefetch">
    <link th:href="@{/js/chunk-78e5fac6.b0c7f6db.js}" rel="prefetch">
    <link th:href="@{/js/chunk-7eeb0c38.0e7607c3.js}" rel="prefetch">
    <link th:href="@{/js/chunk-85277d60.b79faf83.js}" rel="prefetch">
    <link th:href="@{/js/chunk-8b2ce1f0.988016e3.js}" rel="prefetch">
    <link th:href="@{/js/chunk-9179a046.c14d1d6e.js}" rel="prefetch">
    <link th:href="@{/js/chunk-b3623a02.2a57c43f.js}" rel="prefetch">
    <link th:href="@{/js/chunk-b5ee3092.28b80b39.js}" rel="prefetch">
    <link th:href="@{/js/chunk-b788f09c.7310ad16.js}" rel="prefetch">
    <link th:href="@{/js/chunk-c0bb4f38.46865a67.js}" rel="prefetch">
    <link th:href="@{/css/chunk-vendors.d5200698.css}" rel="preload" as="style">
    <link th:href="@{/js/app.24ff5172.js}" rel="preload" as="script">
    <link th:href="@{/js/chunk-vendors.05cb9501.js}" rel="preload" as="script">
    <link th:href="@{/css/chunk-vendors.d5200698.css}" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but bookstore-vue doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id="app"></div>
    <script th:src="@{/js/chunk-vendors.05cb9501.js}"></script>
    <script th:src="@{/js/app.24ff5172.js}"></script>
</body>

</html>